<link href="~/css/home.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Tudo no Carrinho";
}

<div class="text-center">
    <h1 class="display-4">Bem - Vindo ao nosso supermercado </h1>
    <br>
    <br>
    <br>
    <section id="section">
        <div>
            <h2 id="Texto1">Aqui temos o que você quiser para sua casa e tambem para suas receitas!</h2>
        </div>
        <img id="Img1" src="~/imagem/img1.jpeg" />    
    </section> 
    
    <br>
    <br>
    <br>

    <h1>Produtos</h1>

    <!--Criando uma barra de pesquisa não funcional -->
    <form>
    <input type="text" placeholder="Buscar.." style="padding: 8px; width: 200px;" />
    <button type="submit" style="padding: 8px;">Pesquisar</button>
    </form>

    <br>
    <br>

    <section class="imgpromo">
        <div class ="imgpromo">
			<img src="~/imagem/detergente.jpg" />
        </div>

        <div class="imgpromo">
			<img src="~/imagem/banana.jpg" />
        </div>

        <div class="imgpromo">
			<img src="~/imagem/coca.jpg" />
        </div>
    </section>

</div>
